html {
    background-color: #4C6C73;
    color:#c2c2b7;
    font-family: monospace, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}


h1, h2 {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
}

h1 {
    padding-top: 2%;
    margin: 0 auto;
    color: #c2c2b7; 
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: #F2F2F0;
    font-size: 18px;
    text-transform: capitalize;
}

a:hover {
    font-size: 20px;
    color: #acaca1;
}

.flexbox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.shadow {
    box-shadow: 0 0 1px 1px black;
    padding: 1rem;
    border-radius: .5rem;
    width: 85%;
    text-align: center;
}

.secondary-color {
    background-color: #1D3940;
}

header {
    margin: 0;
    padding-bottom: 10px;
    display: block;
}

#subheader {
    text-align: center;
    color: #acaca1;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.address a {
    padding-left: 5px;
}

figcaption, figure, main {
    display: block;
}

.img-main {
    padding-top: 4rem;
    background-color: #4C6C73;
}

figure {
    width: 75%;
    padding: .5rem .5rem 0 .5rem;
}
img {
    max-width: 100%;
    align-self: center;
}

#img-div {
 background-color: #1D3940;
}

#image {
    max-width: 100%;
}

figcaption {
    margin: .5rem;
}

figcaption p {
    margin: 0 auto;
}

.item {
    padding: 1rem;
    width:80%;
    margin: .5rem 0;
    border-left: .25rem solid #F2F2F0;
    font-size: 18px;
    color:#ebebeb;
}

.quote {
    margin-top: 2rem;
}

.footer {
    font-size: 2rem;
    color: #F2F2F0;
    text-align: center;
}

#tribute-link {
    font-size: 2rem;
}
